<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">

    <div >
        <div >
            <h2>Show User</h2>
        </div>
    </div>
    <div >
        <div >
            <form >
                <div >
                    <label>User Id:</label>
                    <div>
                        <p th:text="${userInfo.id}">User Id</p>
                    </div>
                </div>
                <div >
                    <label >First Name:</label>
                    <div >
                        <p th:text="${userInfo.firstName}">First Name</p>
                    </div>
                </div>

                <div >
                    <label >Last Name:</label>
                    <div >
                        <p  th:text="${userInfo.lastName}">Last Name</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>